[2015-03-06 15:48] mattl opened #1 "CC Wiki is broken and outdated, it needs a reboot, not a refresh"
My suggestion.

We park the current CC Wiki at oldwiki.creativecommons.org and start a brand new, fresh MediaWiki install, with CCID support and port over the good content, but also consider what content belongs on the website at the same time.

WDYT @creativecommons/staff ?

[2015-03-06 17:21] tvol commented on #1
@mattl @creativecommons/staff Sounds good.

[2015-03-06 17:33] cablegreen commented on #1
@mattl https://github.com/mattl @creativecommons/staff
https://github.com/orgs/creativecommons/teams/staff
- 1

Cable

On Fri, Mar 6, 2015 at 9:21 AM, Timothy Vollmer notifications@github.com
wrote:

##

Cable

[2015-03-06 18:23] ryanmerkley commented on #1
+1

On Fri, Mar 6, 2015 at 12:33 PM, Cable Green notifications@github.com
wrote:

[2015-03-07 17:06] RCEurope1 commented on #1
+1
pls also consider CCID access for syncronizing the new CC Wiki with the CC Commentary bluespice instance.

[2015-03-07 17:07] mattl commented on #1
Not heard of it... What is it?

[2015-03-08 13:29] RCEurope1 commented on #1
@mattl: see my email from 7/25/14, re "Wiki access for mirroring CC commentary" ...

[2015-03-09 16:15] claudiorrrr commented on #1
+1

[2015-03-09 16:22] mattl commented on #1
@RCEurope1 it seems down. did it ever take off?

[2015-03-09 17:30] RCEurope1 commented on #1
it's not public, b/c implementation was halted b/c syncronization module cannot be teste b/c no CC Wiki access yet b/c CC Wiki is on the backburner (I guess)

[2015-03-11 08:19] soohyunpae commented on #1
+1
I wonder if it's possible to make at least some parts of the old cc wiki accessible again in the meantime? Or if it will take some time, it could be nice to post an announcement that the wiki is under maintenance.

[2015-03-11 20:32] mattl commented on #1
I will add a note to the current wiki. I'd like to move it next week.

[2015-04-28 15:50] gwenfranck opened #2 "any updates on wiki?"
Hi, as our own CC Europe website is taking form and we want to integrate wiki pages, I was wondering if there are any updates on this. Some people may want to make edits (or even create an account) - but for example the instruction (mail to info@ ) is not useful as the address is currently bouncing.
I cannot formulate this in a more technical manner, my apologies :p

[2015-04-28 18:58] RCEurope1 opened #3 "make sure that Affiliate info remains structured and accessible for outside services"
current Affiliate pages are structured to some extent (only parts being freetext fields) and this is of high value to extract the info automatically into f.e. the regional websites / landing pages that are in the making for CC Europe and CC Africa. Wherever the Affiliate info ends up in the future, that should remain something structured (the Wiki forms did wonders in that respect).

[2015-05-19 00:17] RCEurope1 opened #4 "re-instate (or find suitable replacement for) Edit with form"
in the long-running instance of the CC Wiki there were 2 options to edit certain page types, "Edit" and "Edit with form". The latter proved quite valuable to guide affiliates when editing/adding pages. This made sure the result was sort of well-structured. Forms seem to be generally unsupported after the Wiki reboot, but this feature should either be re-instated or substituted by something equally

[2015-05-22 15:50] mattl commented on #4
We probably won't fix this. We'll instead provide a better place for structured data to live.

[2015-05-22 15:50] #4 closed

[2015-06-09 16:42] RCEurope1 commented on #4
any news on the better place thing?

[2015-06-16 23:22] cablegreen opened #5 "OER Policy Registry (not working)"
https://wiki.creativecommons.org/wiki/OER_Policy_Registry

The OER Policy Registry is one of our important open policy projects.  I think it used "Semantic MediaWiki functionality" - is that why it has code on the home page ... and none of the features work any longer?

Thanks for fixing ... people around the world (governments, open orgs, advocates, IOL fellows, etc.) use it to review OER open po

[2015-06-16 23:23] mattl commented on #5
@cablegreen The data is all there, we just need to make it a little more 'browseable' for now until an actual database can be put in place.

[2015-06-16 23:26] mattl commented on #5
https://wiki.creativecommons.org/wiki/Category:OER_Policy_Registry

[2015-06-16 23:28] cablegreen commented on #5
Thanks - please ping me when it's up and running again and I'll take a look.  Gratefully,

[2015-06-16 23:29] cablegreen commented on #5
Thanks - please ping me when it's up and running again and I'll take a look.  Gratefully,

[2015-06-16 23:31] cablegreen commented on #5
On: https://wiki.creativecommons.org/wiki/Category:OER_Policy_Registry
Is there a way to:
- add new open policies?
- filter by any of the meta-data: national, proposed, etc?

[2015-06-16 23:33] mattl commented on #5
There's no way to add new policies. This has been the case for some time.

There may be something we can do improve filtering.

For now I have put up a stop-gap page at https://wiki.creativecommons.org/wiki/OER_Policy_Registry and moved the previous page to https://wiki.creativecommons.org/wiki/OER_Policy_Registry-previous

[2015-06-16 23:36] cablegreen commented on #5
1. Jane added a few policies just a few weeks ago... so it was working.
2. At a minimum, I need CC staff to be able to add new and exit existing open policies.
3. It would also be very nice to have some filtering options - many thanks.

[2015-06-16 23:39] mattl commented on #5
@robmyers I'm heading out as I'm way overdue to leave.

maybe we should get Lucene working on the wiki so we can do better searches.

@cablegreen OER policies will be addable, but they'll rely on a bit more wiki-knowhow for now (copying and pasting an existing one made as a template would be my suggestion) -- the form-related things won't be returning.

[2015-06-16 23:42] rheaplex commented on #5
Yes people can edit the template markup, all the information is still there and editable/addable-to.

I'll see what we can restore to the index page now, as a matter of urgency.

[2015-06-16 23:43] cablegreen commented on #5
Thanks gents - standing by. Any solution is fine with me - as long as it is relatively easy to:
- add new and exit existing open policies
- enable some filtering options for users

[2015-06-17 00:22] rheaplex commented on #5
I've restored as many of the searches as possible - I couldn't restore "No Status".

The list of policies has been replaced with a link to the policy category page.

The policy creation section now explains that people should use the template directly, I've added some minimal instructions for this to the template page and told people how to get more help if they need it.

[2015-06-17 17:34] cablegreen commented on #5
Thanks Rob!

on: https://wiki.creativecommons.org/wiki/OER_Policy_Registry

(1) In the opening sentence - "current" and "proposed" are not linked to the right pages.  Note: they do work below under "popular searches."
(2) First sentence - please link "OER" to: https://creativecommons.org/education
(3) "By Country" - possible to have a pull down menu to select any country?

Thank you, Cable

[2015-06-18 00:41] rheaplex commented on #5
@cablegreen I've added links for 1 and 2, and created a list of pages for 3 (we can't do a pop-down menu). I re-arranged the horizontal order of the lists lists so hopefully this looks OK. If someone adds a country that isn't on there, we will need to add it by hand

For 3 we need to regularize the ways people say United States/USA/United States of America, and to decide whether to change wales to

[2015-06-19 05:50] jessicacoates opened #6 "Lost affiliates list"
With the migration we seem to have lost the list of affiliates that used to live at: https://wiki.creativecommons.org/wiki/CC_Affiliate_Network

It was automatically generated from the community database that lived on the wiki. Each country where we have contacts has a page, with a status on the side. When the status is set to active, they automatically appeared on the list.

This was our definiti

[2015-06-19 19:07] rheaplex commented on #6
I'll take a look at this. Thank you for reporting it.

[2015-06-19 19:19] robmyers opened #7 "Spam/Vandalism Protection"
What spam/vandalism protection do we need above CCID login?

As we've not installed via tarball we don't have the bundled extensions mentioned in Mediawiki's docs.

So should we add e.g.:

https://www.mediawiki.org/wiki/Extension:SpamBlacklist

https://www.mediawiki.org/wiki/Extension:GlobalBlocking

https://www.mediawiki.org/wiki/Extension:Bad_Behavior (see caveats on page)

[2015-06-19 19:29] rheaplex commented on #6
For now I've replaced the list with a link to a search for active Jurisdictions. I'll discuss this with Matt next week.

[2015-06-22 15:26] mattl commented on #6
This looks okay (apart from 'click here') -- but I suggest we extend the template all these pages are using and add them to a category, and then simply link to the category page.

[2015-06-22 16:25] rheaplex commented on #6
Will do.

Can we do that for the OER policies as well, e.g. expand the Country into a category.

[2015-06-23 01:18] cablegreen commented on #5
Thanks for 1 and 2 - looks great.

For 3:
(a) Let's go with "United States of America" - can you do a find / replace and change them all to: "United States of America" ?

(b) Let's leave Scotland and Wales separate for the OER Policy Registry... thanks.

[2015-06-23 20:12] janeatcc opened #8 "Platform Integration Guide page missing"
https://wiki.creativecommons.org/Platform_Integration_Guide

[2015-06-23 20:13] janeatcc opened #9 "Making TOS work with CC page missing"
https://wiki.creativecommons.org/wiki/Making_TOS_Work_With_CC

[2015-06-23 20:18] janeatcc opened #10 "Taking a long time to load wiki pages generally"
eg. https://wiki.creativecommons.org/Web_Integration

[2015-06-23 20:19] mattl commented on #10
Are you logged in?

[2015-06-23 20:21] janetpkr commented on #10
![screenshot wiki error](https://cloud.githubusercontent.com/assets/6394777/8316274/b68c09b8-19aa-11e5-90b1-cffab8bc5d0c.jpg)
I get attached screen when trying to load pages.

[2015-06-23 20:26] mattl commented on #10
Can you try again now, see if its any better? Seems like maybe you're
having connectivity issues though.

[2015-06-23 20:29] janetpkr commented on #10
Tried again and it says I'm logged in. Able to access pages now, but still slow. I can load other webpages faster than this though. I just don't want this to be a problem for non CC-ers, eg. if I send platforms to look at https://wiki.creativecommons.org/wiki/4.0_upgrade_guidelines and they get an error or it takes a long time, that's not so good.

[2015-06-23 20:30] mattl commented on #10
Can you log out and see if that's any faster?

[2015-06-23 20:33] janetpkr commented on #10
It's not. Tried on firefox and chrome (where i never logged in). Chrome gets same error.

[2015-06-23 20:34] mattl commented on #10
Okay. I suspect you're just having some connectivity issues right now. Give it another try later, or from a different location/ISP... time to do a bar crawl with your laptop, basically.

[2015-06-23 20:35] janetpkr commented on #10
Ok.. but if I have connectivity issues isn't it more likely for others to have them too? Can't really send people to wiki pages if they don't load for them..

[2015-06-23 20:37] mattl commented on #10
I mean, this is likely an intermittent problem. We can't guarantee our
website is up for everyone. What does http://www.whoismyisp.org/ show for
you? There's a link to share info.

[2015-06-23 20:39] janetpkr commented on #10
AT

On Tue, Jun 23, 2015 at 1:37 PM, Matt Lee notifications@github.com wrote:

##

Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-06-23 20:43] mattl commented on #10
Can you share the link from the page? There's a box in the middle of the page that'll let you share your details.

[2015-06-23 20:52] mattl commented on #9
This page is up. I'll pass this back to you.

[2015-06-23 20:53] mattl commented on #8
Looks like this one got deleted.

[2015-06-23 21:20] #9 closed

[2015-06-23 21:24] rheaplex commented on #8
Yikes! I'm very sorry about that. I've restored it.

[2015-06-23 21:24] #8 closed

[2015-06-24 12:56] peterspdx opened #11 "Problem accessing affiliate agreement linked to from /Affiliates page"
here is error report:
![screen shot 2015-06-24 at 5 54 12 am](https://cloud.githubusercontent.com/assets/6127036/8330362/b633ba3e-1a35-11e5-9f51-063a64ce490f.png)

[2015-06-24 12:58] peterspdx opened #12 "Lost links on main 4.0 wiki page to subject matter pages"
https://wiki.creativecommons.org/wiki/4.0

Used to have subject matter pages containing 4.0 discussions and decisions that were linked to from this main page for ease of reference, e.g. Noncommercial, Attribution, NoDerivatives.

[2015-06-24 16:56] rheaplex commented on #11
The agreement was deleted by mistake. I'm very sorry about that, I have now un-deleted it and it's available for download again.

Thank you for reporting this.

[2015-06-24 16:56] #11 closed

[2015-06-24 17:41] rheaplex commented on #6
I've implemented that for Jurisdictions and added the link. Thank you to @mattl for helping with that.

[2015-06-24 17:41] #6 closed

[2015-06-24 17:50] rheaplex commented on #10
Please also copy and paste a slow loading wiki url directly from the address bar here - I know it sounds silly but I just want to check we're not rewriting it in a weird way by accident.

[2015-06-24 18:50] janeatcc opened #13 "case studies form and browse all broken"
eg. https://wiki.creativecommons.org/wiki/Special:BrowseData/Casestudy?_single
and when pulling from a single case study to display on pages like https://wiki.creativecommons.org/wiki/OER_Case_Studies

[2015-06-24 18:51] janeatcc opened #14 "content directories gone"
https://wiki.creativecommons.org/wiki/Content_Directories

but also not sure if it's worth effort in bringing back. if we have case studies, content directories is a bit outdated.

[2015-06-24 18:54] janeatcc opened #15 "UCOP database gone"
https://wiki.creativecommons.org/wiki/UCOP

This had a lot of great research on university copyright policies. Even though not an active project, good to have as archive for future research.

[2015-06-24 18:55] janeatcc opened #16 "Marking third party content page gone"
https://wiki.creativecommons.org/wiki/Marking/Creators/Marking_third_party_content

[2015-06-24 18:56] janeatcc opened #17 "ODEPO database gone"
Good to keep for archival purposes. Had research and data on over 1,000 OER websites: https://wiki.creativecommons.org/wiki/ODEPO

[2015-06-24 18:58] janeatcc opened #18 "case law database gone"
https://wiki.creativecommons.org/wiki/Case_Law

[2015-06-24 19:00] mattl commented on #16
A deleted page.

[2015-06-24 19:00] janetpkr commented on #10
Ok I'll reopen the issue if there is a particular page that is really slow to load. They're all a bit slow right now, but it seems as if the above error is resolved and everything is loading for me now.

[2015-06-24 19:00] #10 closed

[2015-06-24 19:06] mattl commented on #18
@sarahpearson any idea who was updating this "database"?

[2015-06-24 19:09] mattl commented on #17
Some more OER-related SMW fun.

[2015-06-24 19:13] sarahpearson commented on #18
I think various past lawyers at CC did at times, and then also probably some affiliates.

[2015-06-24 19:14] janetpkr commented on #17
Sorry. I mean it's not imperative but I feel like it's a waste if we let it
completely disappear down a black hole.

On Wed, Jun 24, 2015 at 12:09 PM, Matt Lee notifications@github.com wrote:

##

Jane Park
@janedaily
Creative Commons | Los Angeles

Make a donation to support CC in 2015: http://bit.ly/supportcc2015

[2015-06-24 19:16] mattl commented on #17
Yeah, all of the content is still around, we just have to remove all the
shoehorned in attempt at using a wiki like a database.

[2015-06-24 19:26] peterspdx commented on #18
Lots of lawyers have, including Kat, me, Aurelia, and I had thought Sarah but she doesn't seem to remember so I must be mistaken.  And yes, affiliates have.  I can be in charge of it. We use it a lot, at least I do whenever I get an adoption question around "are the licenses enforceable?", and so we need to keep it.

[2015-06-24 19:27] mattl commented on #18
Cool. All of the content is there, we'll need to add some better instructions on how to add future cases.

[2015-06-24 20:33] rheaplex commented on #16
Restored. Thank you for reporting this.

[2015-06-24 20:33] #16 closed

[2015-06-24 22:11] rheaplex commented on #13
BrowseData is a Semantic MediaWiki extension. Semantic MediaWiki has been removed from the wiki, which means we cannot support that functionality in precisely the same way.

We can support similar functionality by linking to category pages.

[2015-06-24 22:16] robmyers opened #19 "Login page still available"
https://wiki.creativecommons.org/wiki/Special:UserLogin

is still offering to let me log in "as a different user" with non-CCID credentials.

[2015-06-24 22:56] rheaplex commented on #5
a) name regularized to "United States of America"

b) separate entries for Scotland and Wales created.

[2015-06-24 22:56] #5 closed

[2015-06-25 00:21] rheaplex commented on #14
I've changed this to use category links instead.

[2015-06-25 00:21] #14 closed

[2015-06-25 16:50] rheaplex commented on #15
I've used a historical copy of the data to restore the data page and inlined that on the project page.

If people want to add policies in future this can be done by editing the table on the data page.

[2015-06-25 16:50] #15 closed

[2015-06-25 18:06] rheaplex commented on #18
The cases can be found using the category, which is linked from the page a couple of times.

I've added some basic (links to) instructions for adding new cases.

[2015-06-25 18:06] #18 closed

[2015-06-25 18:10] peterspdx commented on #18
Thanks, Rob!!

[2015-06-25 18:42] peterspdx opened #20 "termination of transfer pages need to be retained - main page missing"
As we're working on those with the Arcadia funding and plan to transfer this tool and related info including the FAQ to CC USA.

https://creativecommons.github.io/labs/termination/

And other links to wiki pages in this blog post: https://creativecommons.org/weblog/entry/7163

[2015-06-25 19:08] rheaplex commented on #20
The wiki pages:

https://wiki.creativecommons.org/wiki/ToT_Comments

https://wiki.creativecommons.org/wiki/ToT_Hypos

are both present and complete.

How urgent is restoring the termination pages on labs? We have a project to restore the php-based sections of the site (of which this tool/FAQ is one) but if this can't wait I'll investigate it separately.

[2015-06-25 19:32] peterspdx commented on #20
The urgency is tied to the Arcadia funding.  Would be nice to have the main tool -- the one that's been deleted and has the step-by-step determination points -- in the next week or two.  Not a pressing rush, but would like to have it by early to mid July.  Thanks!

[2015-06-25 21:09] mattl commented on #20
@robmyers this relates to the non-blog labs content we put it in GitHub. We need to stand it up on labs.creativecommons.org somewhere and not redirect to GitHub pages.

[2015-06-25 23:35] rheaplex commented on #17
I think mattl's comment was instructions for me. :-)

I've changed the "browse" link to point to the category page and removed unsupported functions.

I've updated the Organization template to render nicely, that may take a few hours for everything to rebuild.

[2015-06-25 23:35] #17 closed

[2015-06-25 23:59] rheaplex commented on #13
I've updated the page to remove the broken markup. Sadly we cannot automatically restore the lost images.

I've updated the case study template so the individual pages render nicely again now.

Thank you for reporting this.

[2015-06-25 23:59] #13 closed

[2015-06-26 00:00] rheaplex commented on #20
OK I'll take a look at it on Friday while I remember. :-)

[2015-06-26 00:09] rheaplex commented on #12
I've added a manual copy of this list to the page. Should it need updating in future, the list should be updated here inline.

[2015-06-26 00:09] #12 closed

[2015-06-26 00:26] rheaplex commented on #19
Vector login button links to: http://mediawiki.local/index.php?title=Special:UserLogin&returnto=Main+Page

This sends us to: https://login.creativecommons.org//login?service=http://mediawiki.local/index.php?title=Special:UserLogin&returnto=Main+Page

Bootstrap theme button links to: https://wiki.creativecommons.org/wiki/Special:UserLogin

This sends us to: https://login.creativecommons.org//login?

[2015-06-26 02:01] rheaplex commented on #19
I can see what needs doing. Will finish up tomorrow.

[2015-06-26 23:43] rheaplex commented on #19
Initial login redirect made more robust in - https://github.com/creativecommons/bootstrap-mediawiki/commit/700dfa4165cc66f38a1f2b7f8872c0eaaa1aabe8

The availability of Special:UserLogin after logging in with CAS is expected behaviour.

I've tried to reduce confusion on the Login page as much as possible by editing the fields listed on:

https://wiki.creativecommons.org/wiki/Special:UserLogin?usel

[2015-06-26 23:45] rheaplex commented on #19
I've disabled the login form on Special:UserLogin by adding an extension to our theme. See here:

https://github.com/creativecommons/bootstrap-mediawiki/commit/32f10362ee481f6e39e470ea482810b1a2b4f5a2

And here for instructions on how to activate it:

https://github.com/creativecommons/bootstrap-mediawiki/blob/master/NoUserLoginForm.php

I've tested login/logout and access to the page when logged

[2015-06-26 23:45] #19 closed

[2015-06-30 19:03] rheaplex commented on #20
With apologies for the delay, here's the restored folder:

http://labs.creativecommons.org/demos/termination/

I am redirecting the old link here, so it still works.

(I will investigate whether the other subdirectories of /demos/ need similar redirects, but that's out of scope for this.)

[2015-06-30 19:03] #20 closed

[2015-07-01 19:10] peterspdx opened #21 "fix wiki pages after migration to reintroduce ToC"
Not seeing short cuts via table of contents on pages that are quite long and have benefited from those in the past.  E.g.: https://wiki.creativecommons.org/wiki/Legal_Tools_Translation

[2015-07-01 19:23] mattl commented on #21
It's there, see the 'contents' drop down on the far right -- but I agree it
could be a little more obvious.

@robmyers -- WDYT?

[2015-07-01 19:39] peterspdx commented on #21
I see it now. I think the best way to characterize my input on matters like this is, I look for stuff quickly given very limited time and other pressures, and if I don't see it right away, I expect there's a problem or something could be improved.  So consider me the typical, impatient public. I am always happy to be the litmus test on usability of our site and wiki pages.

[2015-07-01 19:41] mattl commented on #21
Yes, I suspect it's like that to make things easier for mobile users, but I
agree. We'll fix it.

[2015-07-02 16:35] rheaplex commented on #21
Oh wow that's a bit hidden, yes thank you for reporting that @peterspdx

@mattl - it doesn't work in mobile either. I'll re-style it and make it nicer in both with a media query.

[2015-07-03 00:10] rheaplex commented on #21
I've changed the css (and JavaScript) to display the Table of Contents in a more traditional manner in the text, styles as a Bootstrap "well" to fit the theme.

I've tested this in various desktop and mobile sized windows but do please let me know if there are any problems.

[2015-07-03 00:10] #21 closed

[2015-07-17 16:03] peterspdx opened #22 "case law database"
https://wiki.creativecommons.org/wiki/Case_Law; this page used to show a chart, now to see cases they're listed on a separate page alphabetically.  would like it to be a bit more user friendly, as we had with the chart.

[2015-07-17 18:05] rheaplex commented on #22
Ignoring the lack of styling, is this the previous content? -

https://web.archive.org/web/20150320133934/https://wiki.creativecommons.org/Case_Law

[2015-07-17 18:41] peterspdx commented on #22
Yup, believe so.  I'd have to check the most recent additions but yes, this is correct.  Thanks.

[2015-07-22 22:55] jessicacoates opened #23 "Change Scotland's status to Inactive"
Can you change CC Scotland's status to inactive on the database and remove them from the list of jurisdictions?

They've been inactive for years, so we've terminated them.

I tried editing the page directly, but it doesn't seem to have changed their status on the list.

[2015-07-27 16:42] mattl commented on #23
Can you point me to what you changed? There's no database, so maybe you're editing something I'm unaware of.

[2015-07-28 03:31] jessicacoates commented on #23
Ahh - then maybe what I've done is fine. I just changed it in wysiwyg on the page - you can see it in the column on the right side. https://wiki.creativecommons.org/wiki/UK:_Scotland

It used to be that the info in that column was linked to a formal database, and changing their status would remove them from the list of affiliates here: https://wiki.creativecommons.org/wiki/Category:CC_Affiliate_Lo

[2015-07-28 18:01] mattl commented on #23
@robmyers one for you.

[2015-07-28 18:02] mattl commented on #23
Rob has done this for other pages.

[2015-07-28 22:07] rheaplex commented on #23
Taking a look.

[2015-07-28 23:00] rheaplex commented on #23
I've changed the "Jurisdiction" template so it additionally creates a status category tag on the Wiki page.

The lists of each status are now category pages, e.g.:

https://wiki.creativecommons.org/wiki/Category:Affiliate_Inactive

They should be available tomorrow after the maintenance jobs on the wiki run tonight. If not I'll investigate further.

[2015-07-30 19:56] #2 closed

[2015-08-04 04:56] tvol opened #24 "make .pdf permitted filetype on new wiki"

[2015-08-07 13:53] mattl opened #25 "Project Lead not showing on affiliate pages"
https://wiki.creativecommons.org/wiki/Malaysia

[2015-08-07 13:54] mattl commented on #25
Looks like the template is maybe a little broken?

[2015-08-10 16:55] rheaplex commented on #24
PDFs can now be uploaded to the wiki.

[2015-08-10 16:55] #24 closed

[2015-08-11 20:55] robmyers opened #26 "Disable Email Editing on User Preferences Page?"
CAS uses the email field to store the CCID.

Users can edit their email at:

https://wiki.creativecommons.org/wiki/Special:Preferences

Presumably if the user changes this they can no longer log in. Should we disable this or leave it as a power user feature?

[2015-08-11 20:55] mattl commented on #26
disable it

[2015-08-11 20:56] rheaplex commented on #26
Roger roger.

[2015-08-11 20:57] mattl commented on #26
![maxresdefault](https://cloud.githubusercontent.com/assets/33296/9210386/db78f400-4030-11e5-8f94-d6dd9bd4822f.jpg)

[2015-08-11 20:59] mattl commented on #26
i think disableemail might be okay.

[2015-08-11 21:00] rheaplex commented on #26
That stops sending email to other users. I'll find the template and edit it out.

[2015-08-11 21:00] mattl commented on #26
Okay

[2015-08-11 21:14] rheaplex commented on #26
Done. The magic is -

$wgHiddenPrefs[] = 'emailaddress';

[2015-08-11 21:14] #26 closed

[2015-08-24 19:32] sarahpearson opened #27 "help determine why footnotes aren't working on the new wiki"
We have footnotes on lots of CC wiki pages, such as https://wiki.creativecommons.org/wiki/ShareAlike_compatibility_process_and_criteria and https://wiki.creativecommons.org/wiki/ShareAlike_compatibility:_GPLv3.

When editing the latter page today, I realized the footnotes aren't appearing properly on the page anymore. Then realized that seems to be the case on all wiki pages with footnotes. Is the

[2015-08-31 20:58] rheaplex commented on #27
I think this relies on the Cite extension:

https://www.mediawiki.org/wiki/Extension:Cite

@mattl Is it OK to re-install this extension?

[2015-08-31 21:00] mattl commented on #27
Yep.

[2015-08-31 21:00] rheaplex commented on #27
@mattl Thanks. Reinstalling.

[2015-08-31 21:10] rheaplex commented on #27
@sarahpearson Footnotes should now work as before.

[2015-08-31 21:10] #27 closed

[2015-09-14 23:36] rheaplex commented on #7
We added spam protection.

[2015-09-14 23:36] #7 closed

[2015-09-23 23:12] robmyers opened #28 "Review New Security"
Please check

    LocalSettings.php

on the wiki server (search for "sysop") and

    https://wiki.creativecommons.org/wiki/Special:ListGroupRights

to make sure my changes to security are reasonable.

The ridiculous list of permissions is due to the "Users" (registered users) group not wanting to play nice.

I've updated the front page to ask people who want to edit to contact us.

To approve som

[2015-09-25 19:06] tvol opened #29 "give khseo@cckorea.org wiki editing privileges"

[2015-09-25 19:09] rheaplex commented on #29
Sure! What is their CCID?

[2015-09-25 19:12] tvol commented on #29
i think it is this khseo@cckorea.org

[2015-09-25 20:02] rheaplex commented on #29
They should be good to go now.

[2015-09-25 20:02] #29 closed

[2015-09-29 20:57] mattl commented on #28
See a ticket I made in Freshdesk about this, but basically this is good... we just need a way for @mmoreshead and RCs to be able to easily verify people.

[2015-09-29 21:01] #1 closed

[2015-09-29 21:42] rheaplex commented on #28
I may be able to make it so staff and RCs can add approval to people. We won't have much of a paper trail for that but it should be OK.

[2015-09-29 21:44] mattl commented on #28
We should probably extend CCID to know about these things.

[2015-09-29 22:28] rheaplex commented on #28
Staff and Regional can now add and remove people on the Approved group.

This will allow @mmoreshead and the RCs to approve people to post.

[2015-09-29 22:28] #28 closed

[2015-09-29 22:29] mattl commented on #28
Can you make a ticket in Freshdesk with instructions?

[2015-09-29 22:51] rheaplex commented on #28
Added a note to 15846 .

[2015-10-23 13:01] peterspdx opened #30 "establish practice for and publicly document where translations of FAQs and other website pages live and are accessed"
We have full translations of FAQs and other pages relative to the licenses and PD tools forthcoming. How will these be indicated on existing pages? And where will these translations live on our wiki or website? Planning ahead for French translations. Most important will be the Considerations page (https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_licensees), which IIRC we were

[2015-10-27 12:09] jessicacoates commented on #23
Just chasing this up. The category thing doesn't seem to have worked - at least, I can't see anything on the "Inactive" page you linked to.

Any suggestions for a solution? Still important that we come up with a list of only the "active" teams for this page. If worse comes to worse, we can probably delete anything that's not "active" in its status - but for archival purposes it would be good to ke

[2015-10-27 23:03] rheaplex commented on #23
Thank you for chasing up.

I've rebuilt the category tables as they weren't rebuilt automatically.

UK:Scotland is now listed on the inactive page.

Affiliates with their status set to active are listed here:

https://wiki.creativecommons.org/wiki/Category:Affiliate_Active

[2015-10-27 23:03] #23 closed

[2015-11-04 16:16] peterspdx opened #31 "Please insert a ToC for ease of referencing subsections on this very large wiki page"
Believe this page (https://wiki.creativecommons.org/wiki/License_Versions) was going to be moved to the main website. Whether or not, it would be good to include a ToC or other page markers so we can hyperlink to the section we want to reference. It's a very long and content-rich page that I use with some frequency. Would like to be able to point to some part or another, even if roughly. Thanks!

[2015-11-09 22:08] jessicacoates opened #32 "Link Active Affiliates page to networks"
On: https://wiki.creativecommons.org/wiki/CC_Affiliate_Network

Can we switch: https://wiki.creativecommons.org/wiki/Category:CC_Affiliate_Locale

For: https://wiki.creativecommons.org/wiki/Category:Affiliate_Active

I don't have editing privileges. Thanks!

[2015-12-11 01:49] peterspdx commented on #22
Reinvigorating this, as I've been asked twice in two days to point to the location where the public can easily find digestible information about enforcement actions involving CC. Today, it was The Guardian. Can we please reinstate something that is akin to the WayBackMachine's formatting? This would at least give some structure to the data for users when first encountering the database. Thanks!

[2015-12-15 01:40] rheaplex commented on #22
I've cleaned the Case Law templates and manually recreated the list of cases on the page -

https://wiki.creativecommons.org/wiki/Case_Law

Missing or future cases will need to be added manually, I'm afraid.

[2015-12-15 01:40] #22 closed

[2015-12-15 03:47] peterspdx commented on #22
wow, that's unfortunate you had to recreate it, and that so much info seems to be gone. Appreciate the effort much robmyers!

[2015-12-15 03:55] rheaplex commented on #22
Oh which info? On the index page (which we can find and re-add) or the
individual case pages? (Which unfortunately can no longer use the features
that E.g. linked to the country for the case)
On 14 Dec 2015 7:47 p.m., "Diane Peters" notifications@github.com wrote:

[2016-01-04 17:34] mattl commented on #31
Done.

(FYI, any long wikipage will have a TOC unless, as this page did, you have `__NOTOC__` at the top of the page)

[2016-01-04 17:34] #31 closed

[2016-02-01 21:37] tvol opened #33 "provide examples of attribution for various social media sites"
these questions keep getting asked on social media, and we do not have any examples that related to attribution on twitter, facebook, etc. https://wiki.creativecommons.org/wiki/Best_practices_for_attribution

[2016-02-01 21:43] janetpkr commented on #33
Wouldn't it just be a simplified version of what's already on the wiki? If you have a suggestion for adding a section, happy to hear.

I think our efforts are better spent on automating attribution through projects like the EXIF one which would get carried across social media sites. We can provide guidance on attribution all we like, but esp in the social media realm, only a few users would follow

[2016-02-10 23:52] tvol opened #34 "missing affiliate teams on https://wiki.creativecommons.org/wiki/Category:CC_Affiliate_Locale"
I noticed that some of the teams reporting from the annual survey are not on the list of teams on the CC Wiki. These include Cyprus, El Salvador, and Ethiopia. @gwenfranck or @RCEurope1 can you add them?

[2016-02-12 18:23] RCEurope1 commented on #34
thx for spotting, respective RCs will take care of that ...

[2016-02-12 18:24] tvol commented on #34
thanks

[2016-03-03 00:03] claudiorrrr commented on #34
I'm working with the folks from El Salvador.

[2016-03-04 21:50] robmyers opened #35 "CCID Login Fix"
Check to see if the username is NULL when they log in.

If it is, send them to a page explaining that they need to create a username and explaining how.

[2016-03-22 00:27] rheaplex commented on #35
I've implemented this as a modification to CASAuth.php - https://github.com/creativecommons/CASAuth/commit/0cbf02ed057cb309aaa59f9536df9db81f2abf3b

It redirects the user to a page advising them of how to proceed if we don't have a record for their username.

[2016-03-22 00:27] #35 closed

[2016-05-24 19:48] tvol opened #36 "can't upload pdf file to CC wiki"
<img width="513" alt="screen shot 2016-05-24 at 12 46 06 pm" src="https://cloud.githubusercontent.com/assets/231665/15517657/d0483302-21ad-11e6-9e8c-5cc928c87b15.png">

[2016-05-24 20:59] mattl commented on #36
@robmyers Upgrade revert the permissions?

[2016-05-24 22:29] rheaplex commented on #36
@mattl Permissions and directory group.

@tvol This is now fixed. Thank you for reporting this problem.

[2016-05-24 22:29] #36 closed

[2016-06-15 08:45] soohyunpae opened #37 "CCID authorisation requests"
Hi @robmyers

Lucien Lin (CCID-lucienchlin) and Yi Zheng (zhengyi@cn.creativecommons.org) say they have a CCID but need it authorised. I just forwarded their emails to you.
Can you please help them ASAP? Sorry, this is quite urgent...

Thanks so much!

Soohyun

[2016-06-15 15:16] mmoreshead commented on #37
Hi @soohyunpae - I can take care of these for you anytime.  Lucien Lin's wiki account is approved!

[2016-06-15 15:16] #37 closed

[2016-06-15 15:46] mmoreshead commented on #34
I wonder what the difference is between that page and this page? https://wiki.creativecommons.org/wiki/Category:Affiliate_Active

[2016-06-15 16:09] claudiorrrr commented on #34
Side note: You have no idea how I hate that page.

[2016-06-15 16:31] rheaplex commented on #37
Thank you @mmoreshead!

[2016-06-16 15:33] soohyunpae commented on #37
Awesome! @mmoreshead Thanks so much!

[2016-06-24 04:11] soohyunpae opened #38 "Login failed"
I'm trying to edit the page for 4.0 Chinese translation(https://wiki.creativecommons.org/wiki/Legal_Tools_Translation/4.0/Chinese) but still getting an error message (please see my email for details).

Can you please look into this issue asap? I know you are already super busy with the new website, but this is very important for many affiliates in our region. Thanks so much in advance!

Soohyun

[2016-06-24 13:26] mmoreshead commented on #38
Thanks @gwenfranck but I think this is a different issue, I can't log in either!
For @mattl and @robmyers, here's the error:

Secure Connection Failed

An error occurred during a connection to wiki.creativecommons.org:80. SSL received a record that exceeded the maximum permissible length. Error code: SSL_ERROR_RX_RECORD_TOO_LONG

[2016-06-24 17:16] rheaplex commented on #38
@mmoreshead thank you for the deets.

@mattl looks like we need to fix ssl. Or tls, as the cool kids call it now.

[2016-06-24 18:01] rheaplex commented on #38
@soohyunpae We have to fix the https:// connection on that box but we won't be able to do it until Monday. I'm very sorry about the delay.

[2016-06-28 23:05] rheaplex commented on #38
I'm sorry this took so long. :-( It is now fixed! :-)

[2016-06-29 05:43] soohyunpae commented on #38
Thanks a lot @robmyers but it seems wiki is down again :(

Here's the error msg:

Website is offline No cached version of this page is available.
Error 522 Ray ID: 2ba70aff66f30607 • 2016-06-29 05:42:14 UTC
Connection timed out

[2016-06-29 05:46] mattl commented on #38
I think that was just bad timing... the server went down for a moment.

Please try again now.

[2016-06-29 06:05] soohyunpae commented on #38
Oh I should've been more patient! ;) Thanks @mattl !

[2016-06-29 06:05] #38 closed

[2016-06-29 06:17] soohyunpae opened #39 "Cannot edit"
Hi @mmoreshead

Wiki is now back (yay!) but I cannot edit - I had no problem editing it before.
Can you have a look please?

Here's the error in case you need it:

You do not have permission to edit this page, for the following reason:

The action you have requested is limited to users in one of the groups: Administrators, approved, staff, regional, affiliate, community.

Thanks!

[2016-06-29 13:17] mmoreshead commented on #39
Approved, let me know if it's not working (because that would mean it's something else).

[2016-06-29 13:17] #39 closed

[2016-06-30 15:43] little-wow opened #40 "Jennie needs edit access on CC Wiki"
Could I gain the ability to edit the wiki?

[2016-06-30 15:58] mmoreshead commented on #40
Can you tell me your CCID, @little-wow?

[2016-06-30 15:59] mmoreshead commented on #40
(after you log into the wiki, you can see it up on the top right side.)

[2016-06-30 16:00] little-wow commented on #40
CCID-jennierosehalperin

[2016-06-30 16:02] mmoreshead commented on #40
Done and done, edit to your heart's content!

[2016-06-30 16:02] #40 closed

[2016-07-07 14:35] mmoreshead opened #41 "Wiki is offline"
This page (https://wiki.creativecommons.org/wiki/Content_Directories) is currently offline. However, because the site uses CloudFlare's Always Online™ technology you can continue to surf a snapshot of the site. We will keep checking in the background and, as soon as the site comes back, you will automatically be served the live version. Always Online™ is powered by CloudFlare | Hide this Alert

[2016-07-07 16:29] rheaplex commented on #41
I've restarted the wiki and it's happy now.

[2016-07-07 16:29] #41 closed

[2016-07-13 17:47] #33 closed

[2016-07-24 22:28] mmoreshead opened #42 "permission to delete pages on the wiki"
Hey, can I get permission to delete pages?  I found some new spam ones like this https://wiki.creativecommons.org/index.php?title=Call_Florida...(1.8.0.0.8.6.0.9.2.3.0_Quickbooks_p.r.o_s.u.p.p.o.r.t._p.h.o.n.e_n.u.m.b.e.r,_Quickbooks_t.e.c.h_s.u.p.p.o.r.t_n.u.m.b.e.r&redirect=no

And I've already pulled permission from that user.
~Mari

[2016-07-24 23:49] rheaplex commented on #42
Eek how are they getting through?

I'll make sure you have the relevant permissions then show you how to clean
up quickly after them. Do you have ten minutes for a call about this on
Monday?

On 24 Jul 2016 3:28 p.m., "Mari Moreshead" notifications@github.com wrote:

[2016-07-25 13:48] mmoreshead commented on #42
@robmyers Let me catch up on regular stuff today and we can talk on Tuesday!

[2016-07-25 16:36] rheaplex commented on #42
OK cool! :-)

On Mon, Jul 25, 2016 at 6:48 AM, Mari Moreshead notifications@github.com
wrote:

[2016-08-09 14:42] mmoreshead opened #43 "CCID validation emails not sending."
As suspected in https://github.com/creativecommons/creativecommons.org/issues/402 -- and confirmed by an email from Maarten: "I’m trying to activate my CCID account, but I get no confirmation mail, also not in my spam. What to do?"

Help?

[2016-08-09 14:55] mattl commented on #43
So I hate to say it but "it works for me" -- I'll look into it more
shortly.

[2016-08-09 15:00] mattl commented on #43
I can see it delivered to the kl.nl server. Possible that they're blocking
sendgrid?

[2016-08-09 15:07] mzeinstra commented on #43
I've tried to reset my password again to trigger the validation mail. I can reset my password but once I try to log in on the wiki I get: https://wiki.creativecommons.org/wiki/ValidateReminder

I received only a mail with

Update to your Creative Commons account

[code]

[2016-08-09 15:18] mattl commented on #43
Seems like there's a bug here :)  how urgently do you need wiki access?

[2016-08-09 15:19] mmoreshead commented on #43
Not urgent as I understand it.  I flagged that the tech team is out of the office today.

[2016-08-09 15:53] mzeinstra commented on #43
Indeed not urgent.

[2016-08-11 11:49] gwenfranck opened #44 "translation forms"
I noticed by the way that the forms to register the start of a translation (https://wiki.creativecommons.org/wiki/Form:CC0_Translation,  https://wiki.creativecommons.org/wiki/Form:4.0_Translation )
are not working anymore.

[2016-08-11 13:34] mmoreshead opened #45 "wiki won't load"
and eventually I get the offline error.  Can you restart it?  Thanks!

[2016-08-11 13:39] peterspdx commented on #44
@sarahpearson Do you want to look at the form as we used to have it and see if it still makes sense? Should we will kill it, revise it, or just have @mattl just put it back up?

[2016-08-11 16:11] sarahpearson commented on #44
@peterspdx I vote we kill it. Very few teams have used it in the past year, and I think we can easily get the information we need from teams before they start a translation through other means.

The form was used to create the wiki page for each translation, but it was difficult for teams to update because of the template. I think we should find a new way for teams to chronicle their translation d

[2016-08-11 16:22] peterspdx commented on #44
Ok! Let's do it. Which, I think, means doing nothing and removing references to it on the various policies pages and elsewhere it may appear on the website. Thanks.

[2016-08-11 16:30] sarahpearson commented on #44
Great! It seems the wiki is down at the moment (Mari already filed a ticket about that separately), but I'll make a to-do to remove references to the form on the wiki. Same re: new ticket for translation summary plans.

[2016-08-11 16:30] #44 closed

[2016-08-11 17:24] mmoreshead commented on #45
done!

[2016-08-11 17:24] #45 closed

[2016-08-11 17:24] rheaplex commented on #45
Matt restarted it and it is now working.

We originally thought it was a different problem, being wrong about that caused the delay.

Everything should be good now.

[2016-08-11 18:44] mattl commented on #44
@sarahpearson wiki is back...

[2016-08-12 19:37] claudioruiz opened #46 "Authorize user"
user: mvr21
Thanks! ;)

[2016-08-17 20:54] rheaplex commented on #42
I've given you super-powers on the wiki. Please use them only for good.

See here for a guide to how to handle spammers -

https://github.com/creativecommons/wiki/wiki/How-to-clean-up-a-spammer

This particular spammer was confirmed after email contact. :-( We may have to tighten the criteria even further, which would be a shame.

[2016-08-18 16:10] mmoreshead commented on #42
Thanks @robmyers - I've now started asking people what they plan on editing (not in mean way like detective might ask, more like how a cheerleader might ask a pledge why they want to join the best squad around sort of way).  I promise to use my powers for good.

[2016-08-18 16:10] #42 closed

[2016-08-18 16:16] rheaplex commented on #42
That sounds great. It's a shame we can't just have a registration form containing an "Are you evil?" checkbox but I'm not sure spammers would go for it...

[2016-08-31 13:13] mmoreshead opened #47 "Wiki is down"
That is all!

[2016-08-31 13:14] mmoreshead commented on #46
Hey @claudioruiz - you can always assign these to me and I'll get them done.  The wiki is down for the moment so I'll get to this when it comes back.

[2016-08-31 16:33] rheaplex commented on #47
Wiki is up.

Thank you for reporting this. The wiki _shouldn't_ go down, so this needs investigating.

[2016-08-31 16:33] #47 closed

[2016-09-01 16:45] mmoreshead commented on #46
@claudioruiz User doesn't exist.  You sure the CCID is right?  They must validate their CCID (just click a link in their email after they register) and I know this was maybe broken before so not sure if that's the same issue here.

[2016-09-12 16:21] claudiorrrr commented on #46
@mmoreshead checking with the affiliates :|

[2016-10-13 19:13] #46 closed

[2016-10-14 16:40] #25 closed

[2016-10-14 16:41] mmoreshead commented on #25
not broken anymore

[2016-10-14 16:46] rheaplex commented on #25
Fixed by @mmoreshead . ;-)

[2016-12-16 21:34] #34 closed

[2016-12-21 16:06] mmoreshead commented on #43
This is still broken, sadly :(

[2016-12-21 16:07] mmoreshead commented on #43
Just joking, it worked.

[2016-12-21 17:24] rheaplex commented on #43
Oh good. :-) I just tested the mail daemon on the ccid server so that's certainly working.

I agree with Matt that any problems are probably at the spam filter level.

[2017-01-27 15:10] #43 closed

[2018-01-05 19:29] mmoreshead opened #48 "Increase allowed file size for upload"
Hi, no matter what I do, I cannot get this file below 5MB so i can upload it to the wiki.  Can you increase the allowed file size, if only temporarily for me?  I can get it down to 6.4 but that's it.  Help?

[2018-01-05 19:38] rheaplex commented on #48
Hmm we should accept larger than that given the current settings. I tweaked some settings that shouldn't affect it, see if that has convinced it to co-operate?

If not could you post the exact error message?

Thank you!

[2018-01-05 19:47] mmoreshead commented on #48
On the file upload page, it says
Maximum file size: 5 MB
--
Permitted file types: png, gif, jpg, jpeg, pdf.

The error I get after I try to upload says:

"This file is bigger than the server is configured to allow."

[2018-01-05 20:06] rheaplex commented on #48
Erk. OK let me see where it's getting that from.

[2018-01-05 20:24] rheaplex commented on #48
It's now 20MB. The 5MB was hiding somewhere. :-)

[2018-01-05 20:24] #48 closed

[2018-06-02 00:38] #3 closed

[2018-06-02 00:38] #30 closed

[2018-06-02 00:38] #32 closed

[2018-06-02 00:43] robmyers opened #49 "Upgrade Wiki to Version 1.30.0"

[2018-06-02 00:43] robmyers opened #50 "Fix CCID Login For MediaWiki Version 1.30.0"

[2018-06-02 00:44] rheaplex commented on #49
Theme is broken but I switched to Vector. We can fix later if needed.

[2018-06-02 00:44] #49 closed

[2018-06-02 00:45] rheaplex commented on #50
Done. We switched the plugin version and are no longer using our bespoke one.

[2018-06-02 00:45] #50 closed

[2018-06-04 13:42] mmoreshead opened #51 "Broken links/files empty"
I fear that updating the wiki may have broken some of the file uploads/links  etc..

For instance https://wiki.creativecommons.org/wiki/Public_reports  - try looking at the 2016 990.

[2018-06-04 16:26] robmyers commented on #51
Eek I checked this during the upgrade! Investigating.

[2018-06-04 16:30] robmyers commented on #51
So for example here's a recent upload that works:

https://wiki.creativecommons.org/images/8/84/CC_Comments_on_Proposed_OER_License_2018.6.1_TEA.pdf

[2018-06-04 16:30] robmyers commented on #51
Looking at why others are broken.